<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PedroBikes Cafe</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/PedroBikes.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>  
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">Pedro Bikes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="rentals.html">Orders</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Welcome to Pedro Bikes</h1>
                <p class="lead">The best place to buy. </p>
            </div>
                
            <div id="results" class="col-lg-8 order-2 mb-5">
                <table id="fullTable">
                    <tr  class="bg-info">
                        <th data-column="name" data-order="desc">Type</th>
                        <th data-column="age" data-order="desc">Bike</th>
                        <th data-column="kids" data-order="desc" hidden>Kids</th>
                        <th data-column="birthdate" data-order="desc">Price</th>
                        <th data-column="Fix" data-order="desc"></th>
                    </tr>
                    <tbody id="myTable">
                    </tbody>
                </table> 
            </div>

            <div class="col-lg-4 order-1">
                <form id="myForm" enctype="application/json" method="post">
                    <div class="form-group">
                        <input class="form-control mt-3" type="text" name="Bike" id="Bike" placeholder="Bike" required>
                        <input class="form-control mt-3" type="text" name="User" id="User" placeholder="User" required>
                        <input class="form-control mt-3" type="text" name="Days" id="Days" placeholder="Days" required>
                        <p id="Msg"></p>
                        <button type="submit" class="btn btn-outline-primary btn-block mt-3">Submit</button>
                        <input class="form-check-input" type="checkbox" value="" id="KidsCheck">
                        <label class="form-check-label" for="KidsCheck">  Click here to check all the bikes that are available for kids  </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container text-center"><span class="text-muted">&copy; 2020</span></div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/table.js"></script>
    <script>
        myForm.addEventListener("submit", (e) => {
            e.preventDefault();
            insertData(document.getElementById("Bike").value, document.getElementById("User").value, document.getElementById("Days").value)

        })

        var checkbox = document.querySelector("#KidsCheck");
        checkbox.addEventListener('change', function() {
        if (this.checked) {
            console.log("Checkbox is checked..");
            KidsCheck(1);
        }else{
            location.reload();
            console.log("Checkbox is not checked..");
        }
        });
        
    </script>
</body>